@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	display: none;
}

@theme {
	--bg-light: hsl(0, 0%, 100%);
	--bg: hsl(0, 0%, 95%);
	--bg-dark: hsl(0, 0%, 90%);

	--text: hsl(0, 0%, 10%);
	--text-muted: hsl(0, 0%, 30%);

	--light-gray: hsl(0, 0%, 60%);
	--gray: hsl(0, 0%, 50%);
	--dark-gray: hsl(0, 0%, 70%);

	--accent-light: hsl(200, 40%, 70%);
	--accent: hsl(210, 40%, 50%);
	--accent-dark: hsl(220, 40%, 30%);

	--alert-red: hsl(0, 50%, 60%);
	--alert-red-dark: hsl(0, 50%, 50%);
	--alert-yellow: hsl(50, 50%, 60%);
	--alert-yellow-dark: hsl(50, 50%, 50%);
	--alert-green: hsl(145, 50%, 60%);
	--alert-green-dark: hsl(145, 50%, 50%);
	--alert-blue: hsl(220, 50%, 60%);
	--alert-blue-dark: hsl(220, 50%, 50%);
}
